body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}

.todo {
    max-width: 500px;
    margin: auto;
    background: #00acff;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

span {
    color: #fff;
    cursor: pointer;
    font-weight: 100;
}

span.done {
    text-decoration: line-through;
    opacity: .8;
}

input {
    padding: 10px;
    font-size: 16px;
    max-width: 100%;
    border-radius: 5px;
    border: 1px solid #46823f;
}

input:focus {
    outline: none;
    box-shadow: 1px 1px 1px #000000;
}

ul {
    list-style-type: none;
    margin: 30px 0 0;
    padding: 0;
}

ul:empty {
    margin: 0;
}

li {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 0;
    margin: 0;
    border: 0;
    background: #c60000;
    width: 20px;
    height: 20px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    line-height: 20px;
    border-radius: 5px;
    flex-shrink: 0;
}
